/ {
    aliases {
        led0 = &board_led0;
        sw0  = &board_button0;
        sw1  = &board_button1; 
        spi-sd = &spi2;
    };

    leds {
        compatible = "gpio-leds";

        board_led0: led_0 {
            gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
            label = "LED0";
        };
    };

    buttons {
        compatible = "gpio-keys";

        board_button0: button_0 {
            gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>;
            label = "Button 0";
        };

        board_button1: button_1 {
            gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;
            label = "Button 1";
        };
    };
};

&spi2 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    pinctrl-0 = <&spi2_sd_pins>;
    pinctrl-names = "default";
    cs-gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;  // CS index 0

    board_sdhc0: sdhc@0 {
        compatible = "zephyr,sdhc-spi-slot";
        reg = <0>;
        status = "okay";

        sdmmc {
            compatible = "zephyr,sdmmc-disk";
            status = "okay";
            label = "SD";  
        };

        spi-max-frequency = <8000000>;
    };
};

&pinctrl {
    spi2_sd_pins: spi2_sd_pins {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 8)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 9)>,
                    <NRF_PSEL(SPIM_MISO, 0, 10)>;
        };
    };
};


&i2s0 {
    status = "okay";
    compatible = "nordic,nrf-i2s";  
    pinctrl-0 = <&i2s0_default>;
	pinctrl-1 = <&i2s0_sleep>;
    pinctrl-names = "default", "sleep";
    clock-source = "ACLK";  
};

&pinctrl {
    i2s0_default: i2s0_default {
        group1 {
            psels = <NRF_PSEL(I2S_SCK_M, 1, 14)>, 
                    <NRF_PSEL(I2S_LRCK_M, 0, 16)>, 
                    <NRF_PSEL(I2S_SDIN, 0, 13)>;  
        };
    };
    i2s0_sleep: i2s0_sleep {
        group1 {
            psels = <NRF_PSEL(I2S_SCK_M, 1, 14)>,  
                    <NRF_PSEL(I2S_LRCK_M, 0, 16)>,  
                    <NRF_PSEL(I2S_SDIN, 0, 13)>;  
        };
    };

};

&clock {
    hfclkaudio-frequency = <8192000>;  // 8.192 MHz for 256x ratio
};

