/ {
    aliases {
        led0 = &board_led0;
        sw0  = &board_button0;
        sw1  = &board_button1; 
    };

    leds {
        compatible = "gpio-leds";

        board_led0: led_0 {
            gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
            label = "LED0";
        };
    };

    buttons {
        compatible = "gpio-keys";

        board_button0: button_0 {
            gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>;
            label = "Button 0";
        };

        board_button1: button_1 {
            gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;
            label = "Button 1";
        };
    };
};

&pinctrl {
    spi4_default: spi4_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 8)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 9)>;
            nordic,drive-mode = <NRF_DRIVE_H0H1>;
        };
        group2 {
            psels = <NRF_PSEL(SPIM_MISO, 0, 10)>;
        };
    };

    spi4_sleep: spi4_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 8)>,
                    <NRF_PSEL(SPIM_MISO, 0, 10)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 9)>;
            low-power-enable;
        };
    };
};

&spi4 {
    compatible = "nordic,nrf-spim";
    status = "okay";

    pinctrl-0 = <&spi4_default>;
    pinctrl-1 = <&spi4_sleep>;
    pinctrl-names = "default", "sleep";

    cs-gpios = <&gpio0 15 GPIO_ACTIVE_LOW>; // CS = P0.15

    #address-cells = <1>;
    #size-cells = <0>;
    board_sdhc: sdhc@0 {
        compatible = "zephyr,sdhc-spi-slot";
        reg = <0>;
        status = "okay";
        spi-max-frequency = <8000000>;

        sdmmc {
            compatible = "zephyr,sdmmc-disk";
            status = "okay";
        };
    };
};
